{% load static %}

<div class="overlay overlay-contentscale">
    <div class="row">
        <div class="col-12 text-center ptb20">
                 <div class="input-group offset-2 col-8">
                      <input class="form-control" id="search-input-mobile" type="text" placeholder="搜尋 識別碼, 影片, 演員">
                      <span class="input-group-append">
                      <button class="btn btn-light" onclick="searchs('search-input-mobile')" type="submit">搜尋</button>
                      </span>
                 </div>
        </div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/">有碼</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/uncensored">無碼</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/genre">有碼類別</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/uncensored/genre">無碼類別</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/actresses">有碼女優</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/uncensored/actresses">無碼女優</a></div>
		<div class="col-6 text-center"><a href="https://www.javbus.org/">歐美</a></div>
        <div class="col-6 text-center"><a href="https://www.dmmsee.icu/forum/">論壇</a></div>

       <div class="col-12 text-center overlay-close">
            <button class="btn btn-danger"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            </span>
       </div>
    </div>
</div>