<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
<div class="masonry" id="waterfall" style="width: 145px; height: 12974px; position: relative;">
<div id="waterfall">
            {% for item in javbus_list %}
            <div class="item masonry-brick" >
                <a class="movie-box" href="https://www.dmmsee.icu/DTT-041">
                    <div class="photo-frame">
                        <img title={{ item.title }} src={{ item.thumbimgurl }}>
                    </div>
					<div class="photo-info">
						<span>{{ item.title }}<br>
						<date>{{item.avnum}}</date> / <date>{{item.release}}</date></span>
					</div>
                </a>
            </div>
            {% endfor %}
</div>
</div>
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/javbus?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="/javbus?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
            <span class="page-current">
                第{{ page_obj.number }}页 ，共{{ page_obj.paginator.num_pages }}页。
            </span>
        </span>
    </div>
    {%endif%}
</body>
</html>